.logos-container {
  display: flex;
  align-items: flex-end;
}
.main-logo {
  width: 18rem;
}
.portal-logo {
  margin-left: 0.5rem;
  width: 13rem;
}
nav {
  margin-top: 1rem;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
